@{
    ViewData["Title"] = "Öğrenci Taşımacılığı";
}

<section id="about" class="about">

    <div class="container">
        <div class="row gy-4">
            <h1>@ViewData["Title"]</h1>

            <p>
                Öğrenci taşımacılığı hizmetini en değerli varlıklarımız olan çocuklarımızın okula ulaşım sırasındaki her türlü ihtiyaç ve konforunu düşünerek, sorumluluklarını bilen deneyimli kadromuzla en üst düzeyde hassasiyet prensibiyle sunuyoruz.
            </p>
            <p>
                Sektörün öncü öğrenci taşımacılığı firması olarak araçlarımızda standart olarak kullandığımız Akıllı Araç Takip Cihazları sayesinde, mobil uygulamalar üzerinden tüm velilerimizin araçların hızını ve konumunu online olarak takip edebilmelerini sağlıyoruz. Buna ek olarak velilerimize çocuklarının alınacağı veya bırakılacağı adrese 500 m. kala cep telefonundan SMS ile bilgi alabilme imkanı sunuyoruz.
            </p>
            <p>
                Güvenlik konusundaki diğer hassasiyetlerimizle birlikte öğrencilerimizi hosteslerimiz vasıtasıyla kapılarından alıp konforlu servislerimizle güvenli bir şekilde okullarına ulaştırıyor ve öğretmenlerine teslim ediyoruz. Yine mobil uygulamalar sayesinde teslim bilgilerini velilerimizle paylaşıyoruz.
            </p>
            <p>
                Bu uygulama sayesinde siz:
            </p>
            <ul>
                <li>Öğrenci ve velilerinizin daha güvenli ve kesintisiz servis hizmeti almasını sağlayabilir,</li>
                <li>Servis araçlarının izledikleri yolları, hareketlerini ve hızını anlık ve geçmişe dönük olarak takip edebilir,</li>
                <li>Servis araçları zamanında okulda olacağı için eğitim ve öğretime aksamadan devam edebilirsiniz.</li>
            </ul>
            <p>Bu uygulama sayesinde velilerimiz:</p>
            <ul>
                <li>Servis aracının her hareketini anlık ve geçmişe dönük olarak izleyebilirler,</li>
                <li>Servis aracı hız limitini aştığında uyarı mesajıyla anlık olarak bilgilendirilirler,</li>
                <li>Çocuğunun servis aracına ne zaman bindiği, nerede ve saat kaçta indiği konusunda anlık mesajlarla bilgilendirilirler,</li>
                <li>Çocuğu servis aracına binmediğinde anında uyarı mesajıyla bilgilendirilirler,</li>
                <li>Servisin gecikmesi halinde anında uyarı mesajı alırlar ve bu sayede gereksiz yere dışarıda beklemezler,</li>
                <li>Çocuğu o gün servise binmeyecekse sürücüyü aramadan uygulama ya da web sitesi üzerinden bilgi paylaşabilirler.</li>
            </ul>
            <p>
                Can güvenliğimizin ve güvenli trafik akışının en önemli şartlarından birisi olan emniyet kemeri konusunda özel hassasiyet göstermekteyiz. Ulaşımını sağladığımız projelerde sürücü ve rehber personelimize üç nokta emniyet kemeri ve temel trafik bilgileri hakkında eğitimler düzenleyerek, geleceğimiz olan çocuklarımızı güvenle taşıyoruz.
            </p>
        </div>
    </div>

</section>