@{
    ViewData["Title"] = "Organizasyon Taşımacılığı";
}

<section id="hero" class="d-flex align-items-center">

    <div class="container">
        <div class="row gy-4">
            <h1>@ViewData["Title"]</h1>

            <p>Use this page to detail your site's privacy policy.</p>
        </div>
    </div>

</section>


