@{
    ViewData["Title"] = "Özel Gün Taşımacılığı";
}

<section id="about" class="about">

    <div class="container">
        <div class="row gy-4">
            <h1>@ViewData["Title"]</h1>

            <p>
                Firmaların, özel yemek, bayi toplantısı, seminer, fuar vb. faaliyetlerine yönelik programlarında, tecrübeli kaptanlarımızla katılımcıların adreslerinden alınması ve ulaştırılması için otobüs, minibüs, özel oto temin edilmesi program süresince beklenmesi ve istenildiğinde dönülmesi.
            </p>
        </div>
    </div>

</section>