@{
    ViewData["Title"] = "VIP Taşımacılığı";
}

<section id="about" class="about">

    <div class="container">
        <div class="row gy-4">
            <h1>@ViewData["Title"]</h1>

            <p>
                VIP transfer ulaşımlarınızda en üst segment ve donanıma sahip, son model araçlarımızla ve eğitimli, profesyonel ekibimizle, yolculuğunuz süresince sunulabilecek tüm ayrıcalıklardan maksimum seviyede faydalanmanızı sağlamak üzere çalışıyoruz.
            </p>
            <p>
                Deneyimli sürücü ve personelimiz kendinizi özel hissetmenizi sağlarken size yolculuğun konforunu yaşamak kalıyor. Havaalanına inen yolcularımızı ismi yazılı levha ile karşılıyor, bagaj dahil gerekli tüm konularda yardımcı olarak, hazır bekleyen araca kadar eşlik ediyor, istenilen adrese rahat ve konforlu şekilde ulaşılmasını sağlıyoruz.
            </p>
            <p>
                Protokol VIP taşıma hizmetlerimizi; özel şoför ve talepler doğrultusunda tercüman personelimiz ile gerçekleştiriyoruz. Ayrıca havaalanları, otel transferleri ve istenilen lokasyonlar için VIP hizmet talep eden müşterilerimize alternatif seçenekler sunuyoruz.
            </p>
        </div>
    </div>

</section>