@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer

@model DerinceSeyahat.Models.Arac

@{
    ViewData["Title"] = @localizer["Title"];
}

<section class="about">
    <h1>@ViewData["Title"]</h1>

    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Edit" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="AracId" />
                <div class="form-group">
                    <label asp-for="AracMarka" class="control-label"></label>
                    <input asp-for="AracMarka" class="form-control" />
                    <span asp-validation-for="AracMarka" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="AracModel" class="control-label"></label>
                    <input asp-for="AracModel" class="form-control" />
                    <span asp-validation-for="AracModel" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="AracKapasite" class="control-label"></label>
                    <input asp-for="AracKapasite" class="form-control" />
                    <span asp-validation-for="AracKapasite" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="AracAdet" class="control-label"></label>
                    <input asp-for="AracAdet" class="form-control" />
                    <span asp-validation-for="AracAdet" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CurrentAracImage" class="control-label"></label>
                    <input asp-for="CurrentAracImage" class="form-control" />
                    <span asp-validation-for="CurrentAracImage" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="AracImage" class="control-label"></label>
                    <input type="file" class="form-control" name="files" />
                    <span asp-validation-for="AracImage" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value=@localizer["Value"] class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">@localizer["Back"]</a>
    </div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
</section>