@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout))
    {
        Layout = (string)parentLayout;
    }
    else
    {
        Layout = "/Areas/Identity/Pages/_Layout.cshtml";
    }
}

@inject DerinceSeyahat.Resources.IdentityLocalizationService IdentityLocalizer

<section class="about">

    <h2>@IdentityLocalizer.GetLocalizedHtmlString("MANAGE_YOUR_ACCOUNT")</h2>

    <div>
        <h4>@IdentityLocalizer.GetLocalizedHtmlString("MANAGE_CHANGE_ACCOUNT_SETTINGS")</h4>
        <hr />
        <div class="row">
            <div class="col-md-3">
                <partial name="_ManageNav" />
            </div>
            <div class="col-md-9">
                @RenderBody()
            </div>
        </div>
    </div>

    @section Scripts {
        @RenderSection("Scripts", required: false)
    }
</section>