@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = @IdentityLocalizer.GetLocalizedHtmlString("CONFIRM_MAIL");
}

@inject DerinceSeyahat.Resources.IdentityLocalizationService IdentityLocalizer

<section class="about">
    <h1>@ViewData["Title"]</h1>
</section>